body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: .5s;
    background-color: #fff; /* Default to light mode */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 999;
    transition: .5s;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    transition: .5s;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: .5s;
}

nav a:hover {
    background-color: #555;
}

section {
    display: none;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

.icon {
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: .5s;
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px;
    }

    header {
        padding: 10px 0;
    }

    .switch {
        top: 5px;
        right: 10px;
    }

    .slider {
        font-size: 16px;
    }
}

.dark body {
    background-color: #111;
    color:white;/* Dark mode background color */
}

header, nav, footer {
    transition: background-color 0.3s ease;
}

.dark header, .dark nav, .dark footer {
    background-color: #333; /* Dark mode background color for header, nav, and footer */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    position: absolute;
    right: 12px;
    top: 45px;
}

#modeicon{
    position: absolute;
    right: 74px;
    top: 45px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
