body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    background-color: #fff; /* Default to light mode */
}

.dark-mode body {
    background-color: #111; /* Dark mode background color */
}

header, nav, footer {
    transition: background-color 0.3s ease;
}

.dark-mode header, .dark-mode nav, .dark-mode footer {
    background-color: #333; /* Dark mode background color for header, nav, and footer */
}

/* Add your other CSS styles here */

/* Toggle switch styling */
.toggle-container {
    position: absolute;
    top: 10px;
    right: 20px;
}

.toggle-label {
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
}

.toggle-input {
    display: none;
}

.toggle-input:checked + .toggle-slider:before {
    transform: translateX(26px);
}

.toggle-slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 26px;
    transition: background-color 0.3s ease;
}

.toggle-slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-slider.round {
    border-radius: 26px;
}

.toggle-slider.round:before {
    border-radius: 50%;
}
