        body {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.4rem;
            height: 100vh;
            margin: 0;
            background: linear-gradient(135deg, #f06, #4a90e2);
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
            overflow: hidden;
        }

        .main {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        h1 {
            font-weight: 400;
            font-size: 8rem;
            margin: 0;
            animation: fadeIn 1s ease-in-out;
        }

        h2 {
            font-weight: 400;
            animation: fadeIn 1.5s ease-in-out;
        }

        h3 {
            font-weight: 400;
            color: lightgray;
            animation: fadeIn 2s ease-in-out;
        }

        a {
            color: #2d47ec;
            text-decoration: none;
            position: relative;
            overflow: hidden;
        }

        a::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0.18rem;
            border: none;
            border-radius: 0.08rem;
            background-color: #fff;
            bottom: -0.1rem;
            left: 50%;
            transition: all 0.3s ease;
        }

        a:hover::before {
            width: 100%;
            left: 0;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
