body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 20px;
}

#url-input {
    width: 80%;
}

#browse-btn {
    padding-left: 20px;
    padding-right: 20px;
}

#browser-content {
    margin-top: 20px;
    min-height: 500px;
    border-radius: 5px;
    overflow-y: auto;
}

button:focus {
    outline: none;
}
